@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* Slate 900 for premium text readability */
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for clean UI but allow scrolling */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}